[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipenv = "==2025.0.1"
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
asyncpg = "*"
python-dotenv = "*"
passlib = "*"
python-jose = {extras = ["cryptography"], version = "*"}
pydantic-settings = "*"
alembic = "*"
psycopg2-binary = "*"
fastapi-limiter = "*"
celery = "*"
redis = "*"
pydantic = {extras = ["email"], version = "*"}

[dev-packages]

[requires]
python_version = "3.13"
